.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px; 
}


.subscribe .form{
    display: flex;

}

.subscribe .form .form-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;

}

.subscribe .form .form-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
}

.subscribe .send-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

.subscribe .form .form-left .name{
    display: flex;
    flex-direction: row;
}

.subscribe .form .form-left .name #nameError p{
    font-family: Helvetica Neue;
    color: #333333;
    font-size: 15px;
}

.subscribe .form .form-left .email{
    display: flex;
    flex-direction: row;
}

.subscribe .form .form-left .email #emailError p{
    font-family: Helvetica Neue;
    color: #333333;
    font-size: 15px;
}

.subscribe .form .form-left .password{
    display: flex;
    flex-direction: row;
}

.subscribe .form .form-left .password #passwordError p{
    font-family: Helvetica Neue;
    color: #333333;
    font-size: 15px;
}

.subscribe .form .form-left .password2{
    display: flex;
    flex-direction: row;
}

.subscribe .form .form-left .password2 #password2Error p{
    font-family: Helvetica Neue;
    color: #333333;
    font-size: 15px;
}

.subscribe .form .form-left .age{
    display: flex;
    flex-direction: row;
}

.subscribe .form .form-left .age #age p{
    font-family: Helvetica Neue;
    color: #333333;
    font-size: 15px;
}

.subscribe .form .form-right .phone{
    display: flex;
    flex-direction: row;
}

.subscribe .form .form-right .phone #phone p{
    font-family: Helvetica Neue;
    color: #333333;
    font-size: 15px;
}

.subscribe .form .form-right .adress{
    display: flex;
    flex-direction: row;
}

.subscribe .form .form-right .adress #adress p{
    font-family: Helvetica Neue;
    color: #333333;
    font-size: 15px;
}

.subscribe .form .form-right .city{
    display: flex;
    flex-direction: row;
}

.subscribe .form .form-right .city #city p{
    font-family: Helvetica Neue;
    color: #333333;
    font-size: 15px;
}

.subscribe .form .form-right .postalCode{
    display: flex;
    flex-direction: row;
}

.subscribe .form .form-right .postalCode #postalCode p{
    font-family: Helvetica Neue;
    color: #333333;
    font-size: 15px;
}

.subscribe .form .form-right .dni{
    display: flex;
    flex-direction: row;
}

.subscribe .form .form-right .dni #dni p{
    font-family: Helvetica Neue;
    color: #333333;
    font-size: 15px;
}