header{
    background-color: #808080;
    color: #ffffff;
    padding-top: 30px;
    border-bottom-color: #006600;
    border-bottom-width: 3px;
    border-bottom-style: solid;  
}

header .branding{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

header .branding h1{
    margin: 0;    
}

header .branding button{
    margin-left: 40px;
    margin-right: 40px;
}

header li{
    display: flex;    
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px; 
    padding-right: 50px; 
    border-top-color: #006600;
    border-top-width: 3px;
    border-top-style: solid;
}

header .highlight{
    color: #006600;
    font-weight: bold;
}

header img{
    width: 20px;
}