header ul{
    margin: 0;
    padding: 0;
}

/* Header */
header{
    background-color: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px; /*when the screen is smaller, we want the height to adjust*/
    border-bottom-color: #e8491d;
    border-bottom-width: 3px;
    border-bottom-style: solid;   
    
}

header h1{
    text-align: center;
    padding-bottom: 10px;
}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

header .branding h1{
    margin: 0;
    
}

/* Cada li tiene su propia cajita*/
header li{
    display: inline-flex;
    padding: 0 40px 10px 40px;
}

header nav{
    margin-top: 10px; 
    margin-left: 100px;   
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header .branding{
    display: inline-flex;
}
