section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;

}

/*------------*/
section .main img{
    width: 100%;
    height: auto;
}

/*------------*/
section .main {
    display: flex;
    justify-content: space-around;
    border-bottom-width: 1px;
    border-bottom-color: #999999;
    border-bottom-style: solid;
}

section .main .main1{
    border-right-width: 1px;
    border-right-color: #999999;
    border-right-style: solid;
    padding: 20px;
    justify-content: flex-start;
}

section .main .main2{
    padding: 20px;
    justify-content: flex-start;
}

section .main .mainInt{
    border-top-width: 1px;
    border-top-color: #999999;
    border-top-style: solid;
}

/*------------*/
section .secondary {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-color: #999999;
    border-bottom-style: solid
}

section .secondary .smallBox{
    padding: 20px;
    border-right-width: 1px;
    border-right-color: #999999;
    border-right-style: solid;
}

section .secondary .smallBox img{
    width: 100%;
    height: auto;

}

/*-----------*/
section a{
    text-decoration: none;
    color: #333333 ;
}

section a:hover{
    color: #aaaaaa;
    font-weight: inherit;
}

/* Media Queries */
@media(max-width: 769px){
    section {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    section .main{
        display: flex;
        flex-direction: column;
    }
    
    section .secondary{
        display: flex;
        flex-direction: column;
    }

    section .secondary .smallBox{
        border-bottom-width: 1px;
        border-bottom-color: #999999;
        border-bottom-style: solid
    }

    section .secondary .smallBox img{
        width: 300px;
    }
}

@media(max-width: 480px){

    section {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    section .main{
        display: flex;
        flex-direction: column;
    }
    
    section .secondary{
        display: flex;
        flex-direction: column;
    }

    section .secondary .smallBox{
        border-bottom-color: #ffffff;
        border-bottom-width: 3px;
        border-bottom-style: solid;
    }
    
    section .secondary .smallBox{
        border-bottom-width: 1px;
        border-bottom-color: #999999;
        border-bottom-style: solid
    }
}


