section {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

section .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;    
}

section .box img{
    width: 300px;
}

section .box .smallBox{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

/* Media Queries */
@media(max-width: 769px){
    section {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    section .smallBox{
        border-bottom-color: #ffffff;
        border-bottom-width: 3px;
        border-bottom-style: solid;
    }

    section .box img{
        width: 200px;
    }

}

@media(max-width: 480px){
    section {
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    section .box img{
        width: 100px;
    }

}

